
<meta charset="UTF-8">
<title>BestSettings</title>


<script>let $ = require('jquery');</script>

<script src="../js/index.js"></script>

<script>require('popper.js');</script>

<script>require('popper.js');</script>
<script>require('bootstrap');</script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="../node_modules\bootstrap\dist\css\bootstrap.min.css"/>

<!-- Fontawesome -->
<link rel="stylesheet" type="text/css" href="../node_modules/@fortawesome/fontawesome-free/css/all.css"/>

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../style/css/main.css"/>


