////////////////////////////
///// General Settings
//////////////////////////

body{
    background-color: $body;
    color: $general-text;
}

.navbar{
    background-color: $components !important;
    color: $main-text;
}

.title{
    color: $title;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #33a8d9;
    height: 2px;
}