<!DOCTYPE html>
<html>
  <head id="head">
    <meta charset="UTF-8">
    <title>BestSettings</title>

    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  
  </head>
    
  <script> 
    window.$ = window.jQuery = require('jquery');
    
    $(function(){
      $("#head").load("./partials/head.html"); 
      $("#header").load("./partials/header.html"); 
      $("#footer").load("./partials/footer.html"); 
    });
  </script> 


  <body>
    
    <header id="header">

    </header>

    <div class="container pt-4 mr-auto">

        <p id="error"></p>
        
        <div class="row">
            <!-- Page Title -->
            <div class="col-1 returnBtn">
                <a href="./index.html"><i class="fa fa-4x fa-arrow-circle-left return grow" aria-hidden="true"></i></a>
            </div>

            <div class="col-4">
                <div class="gameLogo" style="width:50%; background-image: url(../../API/Image/csgo-logo.png);">
            </div>

            <div class="col-4">
                salut
            </div>
        
            <hr>
        </div>

        <!-- Graphics Table -->
        <div class="row pt-5">
            <div class="col-12 pb-3">
                <h3 class="title">Graphic settings</h3>
            </div>

            <div class="col-12 table-responsive">

                <table class="table table-dark table-striped ">
                    <thead>
                        <tr>
                            <th>PARAMETER</th>
                            <th>LOW PERFORMANCE</th>
                            <th>HIGH PERFORMANCE</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Resolution</td>
                            <td>1920x1080</td>
                            <td>1920x1080</td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>

        <!-- Controller Table -->
        <div class="row pt-5">
            <div class="col-12 pb-3">
                <h3 class="title">Controllers settings</h3>
            </div>

            <div class="col-12 table-responsive">

                <table class="table table-dark table-striped ">
                    <thead>
                        <tr>
                            <th>PARAMETER</th>
                            <th>KEYBOARD</th>
                            <th>MOUSE</th>
                            <th>CONTROLLER</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Shoot</td>
                            <td>a</td>
                            <td>r.clic</td>
                            <td>lb</td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>

    </div>
  
  </body>

</html>
