<!DOCTYPE html>
<html>
  <head id="head">
    <meta charset="UTF-8">
    <title>BestSettings</title>
      <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

  </head>
    
  <script> 
    window.$ = window.jQuery = require('jquery');
    
    $(function(){
      $("#head").load("./partials/head.html"); 
      $("#header").load("./partials/header.html"); 
      $("#footer").load("./partials/footer.html"); 
    });
  </script> 


  <body>
    <header id="header">

    </header>
    
    <div id="mySidenav" class="sidenav">
      <div class="menuContent" id="menuContent">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>       
      </div>
    </div>

    <div class="container pt-4">

      <p id="error"></p>
      
      <div class="row ">
        
        <div class="col-sm-9 col-9">
          <h1 class="title">Games</h1>
        </div>

        <div class="col-sm-3 col-3">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-dark mt-2 customBtn" data-toggle="modal" data-target="#exampleModalCenter">
            Add a game
          </button>
        </div>
        
        <hr>

      </div>
       
      <div class="row gamesDisplay">
        <div id="games" class="row pt-3">

        </div>
      </div>  

    </div>
  

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content bg-dark">

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add a game</h5>
            <button type="button" class="close modalClose" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            
            <form>
              <div class="form-group">
                <label for="gameName">Game Name</label>
                <input type="text" class="form-control" id="gameName" placeholder="Enter name">
              </div>

              <div class="form-group">
                <label for="logo">Logo</label>
                <div class="input-group input-file" name="Fichier1">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-choose customBtn" type="button">Browse</button>
                  </span>
                  <input type="text" class="form-control border-0" placeholder='Select a file...' />
                  <span class="input-group-btn">
                    <button class="btn btn-warning btn-reset" type="button">Reset</button>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="card">Card</label>
                <div class="input-group input-file" name="Fichier1">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-choose customBtn" type="button">Browse</button>
                  </span>
                  <input type="text" class="form-control border-0" placeholder='Select a file...' />
                  <span class="input-group-btn">
                    <button class="btn btn-warning btn-reset" type="button">Reset</button>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="card">Platform</label>

                <select class="form-control">
                  <option value="" disabled selected>Platform....</option>
                  <option>Steam</option>
                </select>

              </div>

              <div class="form-group">
                <label for="card">Category</label>

                <select class="form-control">
                  <option value="" disabled selected>Category....</option>
                  <option>FPS</option>
                  <option>TPS</option>

                </select>

              </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-dark customBtn">Save changes</button>
          </div> 
        
          </form>

        </div>
      </div>
    </div>

  </body>

  <script src="../js/Controller/GameController.js"></script>

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }

    // Input for files
    function bs_input_file() {
    $(".input-file").before(
      function() {
        if ( ! $(this).prev().hasClass('input-ghost') ) {
          var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
          element.attr("name",$(this).attr("name"));
          element.change(function(){
            element.next(element).find('input').val((element.val()).split('\\').pop());
          });
          $(this).find("button.btn-choose").click(function(){
            element.click();
          });
          $(this).find("button.btn-reset").click(function(){
            element.val(null);
            $(this).parents(".input-file").find('input').val('');
          });
          $(this).find('input').css("cursor","pointer");
          $(this).find('input').mousedown(function() {
            $(this).parents('.input-file').prev().click();
            return false;
          });
          return element;
        }
      }
    );
  }

  $(function() {
    bs_input_file();
  });
  </script>

</html>