<!DOCTYPE html>
<html>
  <head id="head">
    <meta charset="UTF-8">
    <title>BestSettings</title>
      <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

  </head>
    
  <script> 
    window.$ = window.jQuery = require('jquery');
    
    $(function(){
      $("#head").load("./partials/head.html"); 
      $("#header").load("./partials/header.html"); 
      $("#footer").load("./partials/footer.html"); 
    });
  </script> 


  <body>
    <header id="header">

    </header>
    
    <div class="container pt-4">

      <p id="error"></p>
      
      <div class="row ">
        
        <div class="col-8">
          <h1 class="title">Games</h1>
        </div>
        
        <hr>

      </div>
        
      <div id="games" class="row pt-3">

      </div>  

    </div>
  
  </body>
  <script src="../js/Controller/GameController.js"></script>
</html>
