////////////////////////////
///// Game settings
//////////////////////////

.gameLogo{
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 51%;
}

.gamesDisplay{
    justify-content: center;
}