////////////////////////////
///// Inputs
//////////////////////////

.search-btn{
    background-color: $main-text;
    color: $general-text;
}


.returnBtn{
    color: $main-text;

    &:hover{
        color: $main-text;
    }
}